<h1>Editing Station Status Record</h1>

<%= render 'form', station_status_record: @station_status_record %>

<%= link_to 'Show', @station_status_record %> |
<%= link_to 'Back', station_status_records_path %>
