<h1>Welcome</h1>

<p><%= link_to "List of all stations", stations_path %></p>
<p><%= link_to "Official Bicicas map", "http://gestiona.bicicas.es/apps/mapaweb.html" %></p>
<p><%= link_to "Bicicas homepage", "http://bicicas.es/" %></p>
