/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.bench {
    width: 100%;
}

/* Labels are used to visualize benches */
.label {
    background-color: #777;
    padding: .2em .6em .3em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    width: 45px;
}

.label-green {
    background-color: #659C2B;
}

.label-yellow {
    background-color: #FDB92C;
}

.label-red {
    background-color: #C42A2E;
}

.favorite-column {
    text-align: center;
}

.favorite-column a {
    text-decoration: none;
    background: none;
}
